/*.subscribed {
  opacity: .1;
}*/

.mui-col-md-12 {
  text-align: center;
  margin-top: 40px;
}

.container-image {
 height: 76vh;
/*margin-top: 10px;*/
  background-image: url("/images/cover.png");
  background-repeat: no-repeat;
  opacity: .9;
  margin-left: 62px;
  /*margin-left: 152px;*/
}



.alert{
  /*color: #e9e9e9;*/
  color: #a6a6a6;
  text-align: center;
  margin-top: 175px;
}

.audio-widget {
  padding-top: 20px;
   border: 0;
}

.user-stuff {
  display: none;
}

/*Styles for App Component (Navbar)*/

div.container {
  width: 100%;
  /*margin: auto;*/
}

div.container .navbar {
  padding-top: 20px;
  /*padding-bottom: 50px;*/
  height: 72px;
  /*border-bottom: 2px solid #e9e9e9;*/
  padding-left: 60px;
}

.navbar .form-control {
  width: 30%;
  text-align: center;
  margin: auto;
  height: 40px;
  vertical-align: middle;
  border-radius: 20px;
  margin-right: 470px;
}


/*Sign in & Sign out button*/

.navbar .btn {
  float: right;
  margin-top: 4px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  width: 84px;
  height: 33px;
  border-radius: 4px;
  border: 1px solid #f44336;
  background-color: #f44336;
  color: white;
}


/*Register button*/

.navbar .btn-outline {
  float: right;
  margin-top: 3px;
  margin-right: 7px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  width: 84px;
  height: 33px;
  border-radius: 4px;
  border: 1px solid #f44336;
  background-color: white;
  color: #f44336;
}

.navbar p {
  float: left;
  height: 72px;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  padding-top: 6.5px;
}

.navbar .logo {
  float: left;
  height: 72px;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
}

.navbar .fa {
  margin-left: -45px;
  padding-right: 20px;
}


/*Media Styles for App Component (Navbar)*/

@media only screen and (max-width: 400px) {
  .navbar .fa {
    margin-left: -64px;
    margin-top: -5px;
    /*display: none;*/
  }
  .navbar p {
    margin-left: -14px;
    display: none;
  }
  .navbar .btn {
    width: 20%;
    padding: 1px;
    margin-right: -5px;
    font-size: 13px;
  }
  .navbar .btn-outline {
    width: 20%;
    padding: 1px;
    font-size: 13px;
  }
  .navbar .form-control {
    width: 80%;
    text-align: center;
    margin: auto;
    height: 40px;
    vertical-align: middle;
    border-radius: 10px;
    margin-left: -8px;
  }
}



/*Landing Page Component Styles*/

.landing-content h1 {
  padding-top: 10px;
}

.landing-content h1, h2 {
  text-align: center;
  margin-top: 80px;
  font-family: 'Work Sans', sans-serif;
}

.landing-container {
  width: 100%;
  /*background-color: #f44336;*/
  /*background-color: #fafafa;*/
}

.mui-col-md-4 p {
  /*background-color: black;*/
  margin-left: 120px;
  margin-right: 120px;
}

.mui-container-fluid, .col-md-4 {
  display: inline;
  text-align: center;
}

.landing-container, .landing-content {
  margin-top: 275px;
  margin-bottom: 170px;
}

.landing-content h2 {
  font-weight: 100;
  color: #a6a6a6;
  font-family: 'Work Sans', sans-serif;
}

.landing-container .landing-content h1 {
  padding-top: 28px;
}

.fa {
  color: #f44336;
}

.mui-col-md-12 .container-image {
  margin-bottom: -100px;
}

.mui-col-md-12 .video{
  text-align: center;
  margin-bottom: 80px;
}


/*Media Styles for Landing Page Component*/

@media only screen and (max-width: 400px) {
  .mui-col-md-4 {
    margin-left: -80px;
    margin-right: -60px;
  }
  .mui-col-md-4 p {
    text-align: center;
    padding-bottom: 50px;
  }
  .mui-col-md-12 .video{
    text-align: center;
    width: 100%;
    padding-top: -200px;
  }
  .mui-col-md-12 .video-demo{
    text-align: center;
    margin-top: -100px;
  }
  .mui-col-md-12 .image-header {
    display: none;
  }
  .mui-col-md-12 .container-image {
    display: none;
  }

}


/* Sign In Container Styles */

.container-signin {
  max-width: 380px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.container-signin p {
  font-size: 18px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #585c61;
  padding-bottom: 15px;
  padding-top: 30px;
  line-height: 28px;
  margin: 0 0 10px;
  letter-spacing: 0.5px;

}

.container-signin .secondary {
  font-size: 14px;
  margin-top: -18px;
}

.container-signin .fa {
  margin-top: 22px;
  margin-right: 225px;
}

.container-signin h1 {
  margin-top: -40px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #343a3e;
}

.container-signin .btn-signin {
  margin-top: 30px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  width: 100px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #f44336;
  background-color: #f44336;
  color: white;
  letter-spacing: 1px;
}

.field .email {
  padding: 0 15px;
  height: 50px;
  width: 375px;
  background: #f1f1f2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  font-size: 20px;
  font-weight: 100;
  color: #8a9199;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 13px;
}

.field .password {
  padding: 0 15px;
  height: 50px;
  width: 375px;
  background: #f1f1f2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  font-size: 20px;
  font-weight: 100;
  color: #8a9199;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 13px;
}


/* Media Styles for Sign In Container Styles */

@media only screen and (max-width: 400px) {
  .container-signin {
    width: 100%;
    margin-left: -5px;
  }
  .container-signin .fa {
    /*margin-left: -180px;*/
    display: none;
  }
  .container-signin h1 {
    display: none;
  }
  .container-signin .form {
    width: 100%;
  }
  .container-signin .form p {
    /*margin-left: -130px;
    margin-right: -130px;*/
  }
}


/*Podcast-List Component Styles*/

.my-gallery-class .fa {
  /*color: #03A9F4;*/
  padding-bottom: 10px;
  padding-top: 10px;
}


.landing-container, .mui-col-md-4 h2 {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .5px;
  padding-bottom: 6px;
}

.mui-col-md-4 p {
  font-weight: 100;
  color: #a6a6a6;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  text-align: center;
}

.podcast-list-conatiner {
  width: 100%;
  margin: auto;
}

.podcast-list-conatiner .my-gallery-class {
  width: 100%;
  /*margin-left: 65px;*/
  margin-left: 58px;
  /*margin-left: 5px;*/
}

.podcast__item {
  /*width: 300px;*/
  text-align: center;
  border: 1px solid #fafafa;
  margin: 30px;
  /*margin-left: 50px;*/
}

.podcast img {
  /*border: 1px solid #e9e9e9;*/
  /*border-radius: 3px;*/
  /*vertical-align: middle;*/
  /*text-align: center;*/
}


.podcast-list-conatiner .featured-header a:visited a:active a:hover a:link{
    text-decoration: underline;
}


/*Media Styles for Podcast List Component*/
@media only screen and (max-width: 400px) {
  .podcast-list-conatiner .my-gallery-class {
    margin-left: -37px;
  }

  .podcast-list-conatiner .featured-header {
    /*text-align: center;*/
    margin-left: 72px;
    display: inline-flex;
  }
  .featured-header a {
    /*display: inline-block;*/
    margin-left: 10px;
    margin-right: 1px;
    padding-right: 2px;
    padding-left: 60px;
    padding-top: 9px;
    text-align: center;
    /*color: #262626;*/
  }


}

.podcast-list-container .featured-header .current {
  color: yellow;
}




/*a:visited {
  color: grey;
}

a:link {
  color: yellow;
}*/

.featured-header {
  /*margin-left: 1332px;*/
  text-align: center;
  margin-right: 145px;
}
.featured-header a {
  display: inline-block;
  /*margin-left: 10px;*/
  margin-right: 1px;
  padding-right: 2px;
  padding-left: 2px;
  /*padding-top: 9px;*/
  text-align: center;
  color: #262626;
}


/*.podcast__item a {
  text-align: center;
  width: 2px;
}*/

.podcast .fa {
  color: #343a3e;
  padding-top: 10px;
}



/*Media Styles for Big Screens*/
@media only screen and (min-width: 1920px) {
  .navbar .form-control {
    width: 30%;
    text-align: center;
    margin: auto;
    height: 40px;
    vertical-align: middle;
    border-radius: 20px;
    /* margin-right: 470px; */
  }
  .featured-header {
    /*margin-left: 1332px;*/
    text-align: center;
    margin-right: 107px;
  }
  .podcast-list-conatiner .my-gallery-class {
    width: 100%;
    margin-left: 2px;
  }
  .container-image {
    width: 100%;
    margin: auto;
    margin-left: 176px;
  }
}
