/*.animated {
  animation-name: slideInUp;
  transform-origin: center top;
}*/

.landing-content h1, h2 {
    text-align: center;
    margin-top: 80px;
    font-family: 'Work Sans', sans-serif;
}

.landing-container {
    margin-left: 200px;
    margin-right: 200px;
}

.mui-container-fluid, .col-md-4 {
    display: inline;
    text-align: center;
}

.landing-container, .landing-content {
    margin-top: 225px;
    margin-bottom: 170px;
}

.landing-content h2 {
    font-weight: 100;
    color: #a6a6a6;
    font-family: 'Work Sans', sans-serif;
}

.fa {
    color: #f44336;
    padding-bottom: 10px;
}

.landing-container, .mui-col-md-4 h2 {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .5px;
    padding-bottom: 6px;
}

.mui-col-md-4 p {
    font-weight: 100;
    color: #a6a6a6;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}


/*.landing-container .row .mui-col-md-4 {
  padding-left: 100px;
  padding-right: 100px;
}*/


/*.logo h3{
  text-align: left;
}*/


/*Styles for Navbar*/

div.container {
    width: 100%;
    padding: 0px;
}

div.container .navbar {
    padding-top: 20px;
    height: 72px;
    border-bottom: 2px solid #e9e9e9;
    /*background-color: black;
  opacity: 0.86;*/
}


/*.navbar .btn {
  float: right;
  padding-top: 20px;
  margin-right: 25px;
  height: 72px;
  color: #f44336;
  padding-right: 10px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}*/


/*.navbar .btn btn-outline-primary {
  background-color: yellow;
}*/


/*Sign in & Sign out button*/

.navbar .btn {
    float: right;
    margin-top: 3px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    width: 84px;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #f44336;
    background-color: #f44336;
    color: white;
}


/*Register button*/

.navbar .btn-outline {
    float: right;
    margin-top: 3px;
    margin-right: 7px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    width: 84px;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #f44336;
    background-color: white;
    color: #f44336;
}

.navbar p {
    float: left;
    height: 72px;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.navbar .logo {
    float: left;
    padding-top: px;
    margin-left: 80px;
    height: 72px;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

.navbar .fa {
    margin-left: -60px;
    margin-top: -8px;
}

.GridTile ul {
    list-style: none;
    display: none;
}


/*.header, .container-links{
  padding-top: 20px;
  height: 72px;
  border-bottom: 2px solid #e9e9e9;
}*/


/* Sign In Container Styles */

.container-signin {
    margin-top: 100px;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
}

.container-signin p {
    font-size: 18px;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #585c61;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 30px;
    line-height: 28px;
    margin-left: 70px;
    margin-right: 70px;
}

.container-signin .fa {
  float: left;
  margin-top: 25px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  padding-left: 110px;
  line-height: 50px;
}
.container-signin h1 {
    padding-top: 40px;
    padding-right: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: #343a3e;
}

 .btn-signin {
  margin-top: 40px;
  /*background-color: #f44336;*/

}

.form {
    background-color: ;
}
